



body{
    background-color: white;
}
.all{
    text-align: center;
    background-color: #c1c1c1;
}
button{
    width: 48px;
    height: 47px;
    border-radius: 76px;
    margin-top: 6px;
    background-color: #333;
}
.towbutnt{
    width: 103px;
}
button:hover{
    background-color: #424040;
}
nav{
    color: white;
}
