* {
    margin: 0px;
    padding: 0px;
}

.container {
    margin-top: 30px;
}

.tittel-navabar {
    font-size: 29px;
    margin-top: 8px;
}

nav a {
    color: white !important;
    font-size: 15px;
    margin: 0px 12px;
}

nav {
    background-image: linear-gradient(#EF2779, #EF2779);
}

.col-lg-4 {
    margin-bottom: 56px;
}

.header {
    background-image: linear-gradient(#EF2779, #7834BE);
    padding: 10px 0px;
}

nav form {
    display: flex;
}

.main {
    margin-top: 150px;
}

form input {
    width: 243px !important;
    height: 54px;
    border-radius: 32px !important;
    padding: 0px 30px !important;
    border-style: none !important;
}

form button {
    margin-left: 10px;
    color: #EF2779 !important;
    background-color: white !important;
    width: 116px !important;
    height: 54px;
    border-radius: 32px !important;
    border-style: none !important;
}

.title-of-main {
    color: white;
    font-size: 55px;
}

.paragrag-of-main {
    font-size: 16px;
    color: white;
}

.button-of-main {
    color: #38A3F1;
    width: 236px;
    height: 65px;
    border-radius: 32px;
    font-size: 22px;
    border-style: none;
}

.titel-of-boton-header {
    font-size: 22px;
}

.titel2-of-boton-header {
    font-size: 47px;
    margin-bottom: 35px;
    text-align: center;
}

.titel-of-paragraf {
    font-size: 22px;
}

.paragraf-main {
    font-size: 18px;
}

.row {
    margin-bottom: 40px;
}

.imege {
    display: inline-flex;
}

.big-input {
    width: 353px;
    height: 54px;
    border-radius: 32px;
    display: block;
    margin: auto;
    padding: 0px 30px;
    border-style: none;
}

.big-button {
    margin: auto;
    margin-top: 10px;
    color: white;
    width: 353px;
    height: 54px;
    border-radius: 32px;
    border-style: none;
    display: block;
    background-color: #EF2779;
}

.smal-titel-of-paragraf {
    font-size: 12px;
}

.big-butoon2 {
    background-color: #38A3F1;
    width: 280px;
    height: 65px;
    font-size: 22px;
    color: white;
    border-radius: 32px;
    border-style: none;
    margin-top: 30px;
}

.smal-titel2-of-paragraf {
    font-size: 22px;
}
.boxs-input{
    width:400px !important;
    height: 430px;
    background-color: white;
   float: right;
    padding: 40px 0px;
}
.small-input{
    margin-top: 20px;
width: 80%;
height: 35px;
display: block;
margin: 30px auto;

padding: 0px 20px;
color: black;
border-style: none;

}
.big-input2{
    
    color: black;

    display: block;
    border-style: none;
    margin: 30px auto;
   
width:80%;
height: 126px;
padding: 0px 20px;
}
.send-button{
    width: 94px;
    height: 35px;
    margin-left: 55px;
    font-size: 16px;
    color: white;
    border-radius: 36px;
    border-style: none;
    background-color: #EF2779;
}
.information{
    display: flex;
    margin-top: 20px;
}
.fost-size12{
    font-size: 12px;
    color: white;
}
.fa.fa-envelope-o,.fa.fa-phone,.fa.fa-paper-plane-o{
    margin-right: 19px;
    font-size: 30px;
    color: #EF2779;
}
.fa.fa-youtube-play{
  
    color: #EF2779;
    font-size: 35px;
}
.fa.fa-video-camera,.fa.fa-wifi{
    margin-left: 30px;
    color: #EF2779;
    font-size: 35px;
}
ul li{
    list-style: none;
}
.chaild-li-titel{
    margin: 20px 0px;
    font-size: 22px;
}
.chaild-li{
    margin: 20px 0px;
    font-size: 15px;
}
@media (max-width: 1000px) {
    .titel2-of-boton-header {
        font-size: 36px;
    }
    .container {
        text-align: center;
    }
    .big-button {
        width: 100%;
    }
    .big-input {
        width: 100%;
        
    }
    .boxs-input{
        float: none;
        margin: auto;
        width: 100% !important;
    }
    img{
        margin: auto;
    }
    .next-boxs-input{
        margin: auto;
    }
}