

body{
    background-color: blue;

   
    
}
.box1{
    background-color: white;
    width: 381px;
    height: 443px;
 
    line-height: 1.5;
  
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header{
    height: 20px;
}
h1{
    text-align: center;
    color: #1a2c9d;
    margin-bottom: 49px;
}
input{
 
    border-color: white;
    height: 30px;
    border: none;
    margin-bottom: 49px;
}
.button1{
    width: 136px;
    height: 42px;
    border-radius: 30px;
    background: blue;
    background-image:  linear-gradient(to right,  #0b38aa, #17c2de);
   
    margin-left: 30px;
    border: none;
}
.button2{
    float: right;
    width: 136px;
    height: 42px;
    border-radius: 30px;
    background: grey;
    margin-right: 30px;
    border: none;
}
.nav1{
    color: white;
}
.nav2{
      color: #000000a6;
}
.input-container{
    margin-left: 36px;
}
.fa-user:before {
    content: "\f007";
    color: #bec2c1;
}
.fa-envelope-open-o:before{
    color: #bec2c1;
}
form{
    display: initial;
}