.buttons{
    text-align: center;
    margin: -17px 0px;
}
nav{
    color: white;
}
button{
    height: 33px;
    width: 60px;
    background: #007eff;
    border-radius: 7px;

}
.box1{
width: 500px;
border-color: white;
height: 23px;
}
ul li{
    text-decoration: none;
list-style: none;
}
.all{
    width: 560px;
    height: 50px;
  
    margin-top: 14px;
}
.section{
    float: right;
}
.boxs2{
    display: inline-block;
}